@charset "utf-8";
/*-------------------css reset--------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
margin: 0; 
padding: 0; 
border: 0; 
outline: 0; 
font-weight:normal; 
font-style: inherit; 
font-size: 100%; 
font-family: inherit; 
vertical-align: baseline; 
} 
:focus { 
outline: 0; 
} 
table { 
border-collapse: separate; 
border-spacing: 0; 
} 
caption, th { 
text-align: left;
white-space:nowrap;
font-weight: normal; 
} 
a img, iframe { 
border: none; 
}
ul,ol{ 
list-style: none; 
}
input, textarea, select, button { 
font-size: 100%; 
font-family: inherit; 
} 
select { 
margin: inherit; 
} 
button{border:none; cursor:pointer}
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{
    clear:both;
    overflow:hidden;
}
.clearfix{
    *zoom:1;
}
.visuallyhidden { 
	border: 0; 
	clip: rect(0 0 0 0);
	clip: rect(0,0,0,0); 
	height: 1px; 
	margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px;
}
.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
	clip: auto; 
	height: auto; 
	margin: 0; 
	overflow: visible; 
	position: static; 
	width: auto; 
}

/*-------------------公共--------------------------*/
body{font-size:12px; line-height:1.5; font-family:'微软雅黑','宋体',Arial, sans-serif;color:#000;}
a{text-decoration:none;color:#333;}
.left,.center,.imglist li{float:left; *display:inline;}
.right{float:right;*display:inline;}
.tc{text-align:center;}
.tr{text-align:right;}
h1,h2,h3,dt{font-weight:bold;}


.pageTable{
	text-align: right;
	margin:10px;
}.pageTable a{
	color: #378BD1;
    text-decoration: underline;
}
label.error {
    background: url("../img/unchecked.gif") no-repeat scroll 0 0 transparent;
    color: red;
    font-weight: bold;
    padding-left: 18px;
 
}

.xinghao {
	color: #F00;
}
#ysrw-nav ul{
	z-index:5;
}

.errorMessage li{
	list-style-type:none; 
}
.errorMessage li span{
	color: red;
	font-weight: bold;
	background: transparent url(js/validate/images/unchecked.gif) no-repeat scroll 0 0;
	padding-left: 18px;
}

.actionMessage li{
	list-style-type:none; 
}
.actionMessage li span{
	color: red;
	font-weight: bold;
	background: transparent url(js/validate/images/checked.gif) no-repeat scroll 0 0;
	padding-left: 18px;
}