@CHARSET "UTF-8";
/*-------------------css reset--------------------------*/
* {
	margin: 0;
	padding: 0
}

ul,li {
	list-style-type:none
}

body {
	padding: 0;
	margin: 0;
	background-color: #00423e;
}

div {
	height: 489px;
}

#main {
	z-index: 2;
	width: 1024px;
	margin-left: -512px;
	position: absolute;
	top: 0;
	left: 50%;
	background: url("../images/login_bg.png");
}

#left,#right {
	z-index: 1;
	position: absolute;
	top: 0;
	width: 50%;
}

#left {
	left: 0;
}

#left .container {
	margin-right: 512px;
	background: url("../images/login_bg_left.png");
}

#right {
	right: 0;
}

#right .container {
	margin-left: 512px;
	background: url("../images/login_bg_right.png");
}

table {
	margin-left: 360px;
	*margin-top: 230px;
	padding-top: 230px;
}

table th {
	width: 80px;
	color: #CCCCCC;
	font-weight: bold;
	display: block;
	text-align: right;
}

table td {
	width: 80px;
	vertical-align: text-bottom;
}

table td input {
	width: 80px;
}

table td img {
	vertical-align: middle;
}

table td a {
	color: #CCCCCC;
	font-size: 12;
}

.button {
	margin-left: 600px;
	margin-top: 44px;
	*padding-top: 20px;
	width: 149px; 
	height: 56px;
	border: 0;
	background: url("../images/b_login.png");
}